ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: right;
    position: relative;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: auto;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Change the link color to #111 (black) on hover */
nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

img {
    border-radius: 20px;
    height: 70px;
    width: 70px;
}

.navbar {
    display: flex;
    justify-content: center;
}