<div class="navbar">
    <nav class="">
        <div class="" id="collapsibleNavId">
            <ul class="">
                <li class="">
                    <a class="" href="#">English</a>
                </li>
                <li>
                    <a class="" href="#">لغة أخرى</a>
                </li>
                <li>
                    <a class="" href="#">سهولة التصفح</a>
                </li>
                <li>
                    <a class="" href="#">مساعدة</a>
                </li>
                <li>
                    <a class="" href="#">دخول</a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <img src="https://u.ae/assets/images/government-ae-logo-arabic.png" alt="logo">
        </div>
    </nav>
</div>