<app-navbar></app-navbar>
<app-welcome></app-welcome>
<div class="services">
    <div class="service">
        <h3 class="title">
            معلومات وخدمات
        </h3>
        <div class="wrapper">
            <app-service></app-service>
            <app-service></app-service>
            <app-service></app-service>
            <app-service></app-service>
            <app-service></app-service>
            <app-service></app-service>
            <app-service></app-service>
        </div>
    </div>
</div>