.content {
    display: flex;
    justify-content: center;
}

.welcome {
    padding: 20px;
    width: 75%;
}

h6 {
    font-size: large;
    font-weight: bold;
    color: rgba(5, 5, 5, 0.514);
}

h1 {
    color: green;
    font-size: 45px;
    background-clip: content-box;
    background: -webkit-linear-gradient(rgb(255, 2, 2), rgb(0, 255, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: large;
    font-weight: bold;
    color: rgba(5, 5, 5, 0.514);
    width: 400px;
}